!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "UTF-8"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width = device-width, initial-scale = 1", :name => "viewport"}/
    %title Bootstrap Tutorial
    %link{:href => "assets/css/bootstrap.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "assets/font-awesome/css/font-awesome.min.css", :rel => "stylesheet"}/
  %body
    .container
      %nav
        %ul.list-inline
          %li
            %a.nav-link{:href => "#"} Home
          %li
            %a.nav-link{:href => "#"} Products
          %li
            %a.nav-link{:href => "#"} About
          %li
            %a.nav-link{:href => "#"} Pages
          %li
            %a.nav-link{:href => "#"} Blog
          %li
            %a.nav-link{:href => "#"} Contact
      .jumbotron
        %i.fa.fa-camera-retro.fa-lg
      %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"}
      %script{:src => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"}
